body
{
    background-color: #8696b0;
    
}

main, header, .conten
{
    padding: 30px;
}
table
{
    font-family: 'Courier New', Courier, monospace;
}

main
{
    background-color: #d9d9d9;
    width: 80%;
    margin: auto;
    height: 100%;

    
}
p
{
    margin: 0%;
    font-size: 25px;
    margin-bottom: 30px;
    font-family:'Courier New', Courier, monospace;
}
header
{
    background-color: #c3bdbd;
    width: 80%;
    height: 50px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
div
{
    display: flex;
    margin: auto;
}
img
{
    width: 300px;
    height: 300px;
    margin: auto;
}
h1
{
    margin: 0%;
}
#inicio
{
    border-radius: 200px;
    width: 80px;
    height: 80px;
}
.menu
{
    display: flex;
    margin: auto;
}
nav ul
{
    display: flex;
    list-style: none;
    gap: 5px;
}
nav ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;   
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
nav ul li a:hover {
    background-color: blue;
}
.conten
{
    
    padding: 0% 30px;
    display: flex;
    width: 80%;
    height: 80px;
    gap: 500px;
    background-color: black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
    text-align: center;
}
th {
    background-color: #33fff5;
}
td {
    background-color: rgb(247, 247, 247);
}
#login {
    text-align: right;
}
.table
{
    width: 200px;
    height: 200px;
}