body
{
    text-align: center;
    background-color: #8696b0;
    
}
main, header
{
    margin: 10px auto;
    padding: 30px;
}
header
{
    width: 80%;
    height: 50px;
    margin-bottom: 30px;
    background-color: #c3bdbd;
    font-size: 30px;
}
main
{
    width: 80%;
    height: 500px;
    background-color: #d9d9d9;
    
    
}
img
{
    border-radius: 90px;
}
h1{
    margin: 0px;
}
div
{
    margin: 5px;
}
a
{
    text-decoration: none;
}