body
{
    background-color: #8696b0;

}
main, header
{
    font-family: 'Courier New', Courier, monospace;
}
header
{
    margin: auto;
    width: 900px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
#evento {
    display: inline-flex;
    margin-top: 10px;
    
}
#eventos {
    width: 900px;
    background-color: #d9d9d9;
    padding: 20px;
    margin: auto;
}

.mapa {
    gap: 10px;
}
#inicio
{
    border-radius: 200px;
    width: 80px;
    height: 80px;
}
.menu
{
    display: flex;
    margin: auto;
}
nav ul
{
    display: flex;
    list-style: none;
    gap: 5px;
}
nav ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;   
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
nav ul li a:hover {
    background-color: blue;
}
.conten
{
    margin: auto;
    padding: 0% 30px;
    display: flex;
    width: 80%;
    height: 80px;
    gap: 500px;
    background-color: black;
}
